.admin-menu-right {
    margin-top: 25px;
    float: right;
    margin-right: 5%;
}

.admin-menu-right a {
    padding: 0 26px;
    letter-spacing: .12em;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
}

.user-icon{
    width: 35px; 
    position: relative;
     top: 10px;
     cursor: pointer;
 }

.create-user-form{
    height: 500px;
    position: relative;
    margin-top: 10%;
    width:20%;
    border-style: groove;
    margin-left: 5%;
}

.success-msg{
    color:green;
}

.error-msg{
    color:red;
}

.delete-btn{
    padding: 5px;
    width: 45%;
    
    margin-bottom: 5%;
    background: rgb(189, 86, 68);
    border-color: rgb(170, 0, 0);
    color: #fff;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

